/* header */

.header {
    display: flex;
    background-color: rgb(176, 176, 176);
    text-align: center;
    padding-top: 15px;
}

/* side bar*/

.sidebar {
    display: flex;
    height: 800px;
    position: relative;
    background-color: #DAE8FC;
    float: left;
    border: 2px solid #6C8EBF;
}

.menu {
    padding-left: 15px;
    margin-top: 100px;
}

.menu #head-sidebar {
    font-size: 25px;
}

.menu a {
    text-decoration: none;
}
.menu a p {
    padding-left: 20px;
}

/* Main */

.content {
    position: relative;
    float: left;
    height: 800px;
    background-color: white;
}

.card {
    margin: 50px auto;
    padding-bottom:15px;
}


/* Container */
.add-button {
    margin-top: 20px;
    text-align: center;
}

.add-button button {
    width: 10vh;
    border-radius: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 176, 176);
    text-align: center;
    padding: 15px;
}

/*User List*/

.td {
    text-align: center;
}

.bi .bi-person {
    width: 50px;
}

btn {
    text-decoration: none;
}